---
layout: page
---
<section class="diagonal">
	<div class="blog-post text-container">
		{% include post-title.html post=page %}
		<div class="post-content">
			{{ content }}
		</div>
	</div>
</section>


{% if page.author_staff_member %}
	<section class="diagonal patterned">
		<div class="container">
			<h2>Auteur</h2>
			<ul class="image-grid">
				{% assign author_id = page.author_staff_member | prepend: "/staff_members/" | append: "/" %}
				{% assign author = site.staff_members | where: "url", author_id | first %}

				<li>{% include staff-member.html member=author %}</li>
			</ul>
		</div>
	</section>
{% endif %}

{% if page.show_next_post %}
<section class="diagonal alternate">
	<div class="text-container">
		<h2>Next post</h2>
		<div class="blog-post">
			{% if page.next %}
				{% include post-summary.html post=page.next %}
			{% elsif page.previous %}
				{% include post-summary.html post=page.previous %}
			{% endif %}
		</div>
	</div>
</section>
{% endif %}

{% if site.disqus_shortname and page.show_comments %}
	<section class="diagonal">
		<div class="container">
			<h2>{{ site.data.l18n.comments[page.lang] }}</h2>
			<!-- <div id="disqus_thread"></div> -->
			<div id="isso-thread"></div>
			<script data-isso="//{{ site.disqus_shortname }}"
        			data-isso-require-author="true"
        			data-isso-require-email="true"
				data-isso-vote="true"
        			src="//{{ site.disqus_shortname }}/js/embed.min.js">
			</script>
		</div>
	</section>
{% endif %}
